<tr>
  <td><label for="system.action">{{localize "salvage-union.sheets.items.action.label"}}</label></td>
  <td>
    <select name="system.action">
      {{selectOptions config.actionTypes selected=system.action localize=true}}
    </select>
  </td>
</tr>
