<tr>
  <td><label for="system.range">{{localize "salvage-union.sheets.items.range.label"}}</label></td>
  <td>
    <select name="system.range">
      {{selectOptions config.ranges selected=system.range localize=true}}
    </select>
  </td>
</tr>
