<form class="salvage-union sheet item-sheet {{cssClass}}" autocomplete="off">
  <section class="sheet-type {{item.type}}">
    <span class="type-name all-caps">{{localize (trPath "salvage-union.sheets.type" item.type)}}</span>
  </section>
  <header class="sheet-header">
    <h1 class="title">
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" class="editable" />
    </h1>
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
  </header>

  <section class="body">
    <table class="values">
      <tr>
        <td><label for="system.sp">{{localize "salvage-union.sheets.actor.mech.structure"}}</label></td>
        <td><input type="number" name="system.sp" value="{{system.sp}}" placeholder="0" min="0" /></td>
      </tr>
      <tr>
        <td><label for="system.ep">{{localize "salvage-union.sheets.actor.mech.energy-pts"}}</label></td>
        <td><input type="number" name="system.ep" value="{{system.ep}}" placeholder="0" min="0" /></td>
      </tr>
      <tr>
        <td><label for="system.heat">{{localize "salvage-union.sheets.actor.mech.heat-cap"}}</label></td>
        <td><input type="number" name="system.heat" value="{{system.heat}}" placeholder="0" min="0" /></td>
      </tr>
      <tr>
        <td><label for="system.systemSlots">{{localize "salvage-union.sheets.actor.mech.system-slots"}}</label></td>
        <td><input type="number" name="system.systemSlots" value="{{system.systemSlots}}" placeholder="0" min="0" />
        </td>
      </tr>
      <tr>
        <td><label for="system.moduleSlots">{{localize "salvage-union.sheets.actor.mech.module-slots"}}</label></td>
        <td><input type="number" name="system.moduleSlots" value="{{system.moduleSlots}}" placeholder="0" min="0" />
        </td>
      </tr>
      <tr>
        <td><label for="system.cargo">{{localize "salvage-union.sheets.items.chassis.cargo-cap"}}</label></td>
        <td><input type="number" name="system.cargo" value="{{system.cargo}}" placeholder="0" min="0" /></td>
      </tr>
      <tr>
        <td><label for="system.techLevel">{{localize "salvage-union.salvage.tech-level"}}</label></td>
        <td>
          <select name="system.techLevel">
            {{selectOptions config.techLevels selected=system.techLevel localize=true}}
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="system.salvageValue">{{localize "salvage-union.sheets.items.salvage-value"}}</label></td>
        <td><input type="number" name="system.salvageValue" value="{{system.salvageValue}}" placeholder="0" min="0" />
        </td>
      </tr>
    </table>

    {{> "systems/salvage-union/templates/partials/description-editor.hbs" header="salvage-union.sheets.items.chassis.ability" }}

    {{> "systems/salvage-union/templates/partials/item-rolltable.hbs" id=system.table_id results=system.tableResults}}
  </section>
</form>
