<section class="item {{item.type}} {{statusClass item.system.status}}" data-item-id="{{item.id}}">
  <h2>
    <span class="item-context-menu" data-item-id="{{item.id}}">
      <span class="inverted">{{item.name}}</span>
      <small class="tech-tier" data-tooltip="{{localize (trPath "salvage-union.salvage" item.system.techLevel)}}">
        {{item.system.techLevel}}
      </small>
      <small class="salvage-value" data-tooltip="{{localize "salvage-union.sheets.items.salvage-value"}}">
        {{item.system.salvageValue}}
      </small>
      {{#if item.isOwner}}
        <small>
          <a class="sendToChat" data-item-id="{{item.id}}"
            data-tooltip="{{localize "salvage-union.chat.send-to-chat"}}">
            <i class="fas fa-comments"></i>
          </a>
          <a class="toggleDamage" data-item-id="{{item.id}}">
            <i class="fas fa-tools" data-tooltip="{{localize "salvage-union.status.toggle-status"}}"></i>
          </a>
        </small>
      {{/if}}

      {{#if (and item.system.status (gt item.system.status @root.activeStatus))}}
        <small class="inverted all-caps status">{{localize (statusLabel item.system.status)}}</small>
      {{/if}}
    </span>
  </h2>

  {{{item.system.enrichedDescription}}}

  {{#if item.system.tableResults}}
    {{> "systems/salvage-union/templates/partials/rolltable.hbs" item_id=item.id results=item.system.tableResults npc=npc}}
  {{/if}}
</section>
