<section class="item" data-item-id="{{id}}">
  <h3 class="item-context-menu title" data-item-id="{{id}}">
    <span class="condensed">
      {{name}}
    </span>
    <small class="tech-tier" data-tooltip="{{localize (trPath "salvage-union.salvage" techLevel)}}">
      {{techLevel}}
    </small>
    <small class="salvage-value" data-tooltip="{{localize "salvage-union.sheets.items.salvage-value"}}">
      {{salvageValue}}
    </small>
    <small>
      <a class="sendToChat" data-item-id="{{id}}" data-tooltip="{{localize "salvage-union.chat.send-to-chat"}}">
        <i class="fas fa-comments"></i>
      </a>
    </small>
  </h3>
  {{{enrichedDescription}}}
</section>
