<section class="description-editor">
  {{#unless hideHeader}}
    <h2 class="title">
      <span class="inverted">
        {{#if header}}{{localize header}}{{else}}{{localize "salvage-union.sheets.description"}}{{/if}}
      </span>
    </h2>
  {{/unless}}

  <div class="description">
    {{editor system.enrichedDescription target="system.description" button=true owner=owner editable=editable}}
  </div>
</section>
