{{#if results}}
  <p class="center"><span class="inverted all-caps"><strong>{{localize "salvage-union.common.roll"}}</strong></span>
  </p>
  <ul class="roll-table-results">
    {{#each results as |result|}}
      <li>
        <strong>{{{range result.range}}}:</strong>
        {{result.text}}
      </li>
    {{/each}}
  </ul>
  <p class="right">
    <a class="rollable-table-clear">
      <i class="fas fa-ban" data-tooltip="{{localize "salvage-union.common.delete"}}"></i>
      {{localize "salvage-union.sheets.items.clear-rollable-table"}}
    </a>
  </p>
{{else}}
  {{#if id}}
    <p class="center">{{localize "salvage-union.sheets.table-loading"}}</p>
  {{else}}
    <div class="rollable-table-drop-target">
      {{localize "salvage-union.sheets.items.drop-rollable-table"}}
    </div>
  {{/if}}
{{/if}}
