<section class="item {{item.type}} {{statusClass item.system.status}}" data-item-id="{{item.id}}">
  <h2 class="item-context-menu title {{titleClass}}" data-item-id="{{item.id}}">
    {{#unless npc}}
      {{#if item.system.ap}}
        <span class="item-cost" data-cost="{{displayCost item.system.ap 'AP'}}"
          data-tooltip="{{localize "salvage-union.sheets.items.cost"}}">
          {{localize "salvage-union.sheets.actor.pilot.ap-cost" cost=item.system.ap}}
        </span>
      {{/if}}

      {{#if (and item.system.ep (not (eq item.type 'chassis')))}}
        <span class="item-cost" data-cost="{{displayCost item.system.ep 'EP'}}"
          data-tooltip="{{localize "salvage-union.sheets.items.cost"}}">
          {{localize "salvage-union.sheets.actor.mech.ep-cost" cost=item.system.ep}}
        </span>
      {{/if}}
    {{/unless}}

    <a class="condensed item-name" data-item-id="{{item.id}}">
      {{item.name}}
    </a>

    {{#if (and inChat (not (eq item.type "ability")))}}<br />{{/if}}

    {{#if (eq item.type "ability")}}
      <small class="tech-tier {{item.system.level}}"
        data-tooltip="{{localize "salvage-union.sheets.items.level.label"}}">
        {{localize (trPath "salvage-union.sheets.items.level" item.system.level)}}
      </small>
    {{else}}
      {{#if item.system.techLevel}}
        <small class="tech-tier" data-tooltip="{{localize (trPath "salvage-union.salvage" item.system.techLevel)}}">
          {{item.system.techLevel}}
        </small>
      {{/if}}
    {{/if}}

    {{#unless npc}}
      {{#if (gt item.system.slots 0)}}
        <small class="item-slots" data-tooltip="{{localize "salvage-union.sheets.items.slots"}}">
          {{item.system.slots}}
        </small>
      {{/if}}
    {{/unless}}

    {{#if (gt item.system.salvageValue 0)}}
      <small class="salvage-value" data-tooltip="{{localize "salvage-union.sheets.items.salvage-value"}}">
        {{item.system.salvageValue}}
      </small>
    {{/if}}

    {{#unless inChat}}
      {{#if item.isOwner}}
        <small>
          <a class="sendToChat" data-item-id="{{item.id}}"
            data-tooltip="{{localize "salvage-union.chat.send-to-chat"}}">
            <i class="fas fa-comments"></i>
          </a>

          {{#if (or (eq type "module") (eq type "system") (eq type "crawler-bay"))}}
            <a class="toggleDamage" data-item-id="{{item.id}}">
              <i class="fas fa-tools" data-tooltip="{{localize "salvage-union.status.toggle-status"}}"></i>
            </a>
          {{/if}}

          {{#if (and item.system.table_id (not item.system.visible))}}
            <a class="inverted rollable-table-roll all-caps" data-item-id="{{item.id}}">
              {{localize "salvage-union.common.roll"}}
            </a>
          {{/if}}
        </small>
      {{/if}}
    {{/unless}}

    {{#if (and item.system.status (gt item.system.status @root.activeStatus))}}
      <small class="inverted all-caps status">{{localize (statusLabel item.system.status)}}</small>
    {{/if}}
  </h2>

  {{#if (or item.system.combinedTraits item.system.uses)}}
    <p><strong>{{{displayTraits item.system.combinedTraits item.system.uses}}}</strong></p>
  {{/if}}

  <div class="item-description drawer {{#unless (or inChat item.system.visible)}}hidden{{/unless}}">

    {{#if (eq item.type "crawler-npc")}}
      <p>
        <strong>{{localize "salvage-union.sheets.actor.pilot.health"}}:</strong>
        {{#unless inChat}}<a class="crawler-npc-hp" data-item-id="{{item.id}}" data-change="-1"
            data-tooltip="{{localize "salvage-union.sheets.items.crawler-npc.hp-minus"}}"><i
              class="fas fa-minus"></i></a>{{/unless}}
        <span class="{{#if (lte item.system.hp.value 0)}}danger{{/if}}">
          {{item.system.hp.value}} / {{item.system.hp.max}}
        </span>
        {{#unless inChat}}<a class="crawler-npc-hp" data-item-id="{{item.id}}" data-change="1"
            data-tooltip="{{localize "salvage-union.sheets.items.crawler-npc.hp-plus"}}"><i
              class="fas fa-plus"></i></a>{{/unless}}
      </p>
      <p>
        {{#if item.system.keepsake}}
          <strong>Keepsake:</strong> {{item.system.keepsake}}
        {{/if}}
        {{#if (and item.system.keepsake item.system.motto)}}
          {{#if inChat}}<br />{{else}}//{{/if}}
        {{/if}}
        {{#if item.system.motto}}
          <strong>Motto:</strong> {{item.system.motto}}
        {{/if}}
      </p>
    {{/if}}

    {{{item.system.enrichedDescription}}}

    {{#if item.system.table_id}}
      {{> "systems/salvage-union/templates/partials/rolltable.hbs" item_id=item.id results=item.system.tableResults npc=npc}}
    {{/if}}

    {{#if (eq item.type "crawler-bay")}}
      {{> "systems/salvage-union/templates/partials/crawler-bay-npc.hbs" item.system id=item.id inChat=inChat}}
    {{/if}}
  </div>
</section>
