{{#if items}}
  <div class="item-list">
    {{#each items as |item|}}
      {{> "systems/salvage-union/templates/partials/item-card.hbs" item=item npc=../npc}}
    {{/each}}
  </div>
{{else}}
  <p><em>{{localize "salvage-union.sheets.no-items-of-type"}}</em></p>
{{/if}}
