<h2><span class="inverted">{{localize "salvage-union.sheets.actor.pilot.profile"}}</span></h2>
<table>
  <tr>
    <td><label>{{localize "salvage-union.sheets.actor.pilot.class"}}</label></td>
    <td><input type="text" name="system.class" value="{{system.class}}"
        placeholder="{{localize "salvage-union.sheets.actor.pilot.class"}}" /></td>
  </tr>
  <tr class="description">
    <td>
      <label>
        {{localize "salvage-union.sheets.actor.pilot.background"}}
        {{#if isOwner}}
          <small>
            {{#if system.background}}
              <a class="sendFieldToChat" data-field-name="background"
                data-tooltip="{{localize "salvage-union.chat.send-to-chat"}}"><i class="fas fa-comments"></i></a>
            {{else}}
              <a class="rollProfile" data-field="background"
                data-tooltip="{{rollField ( localize "salvage-union.sheets.actor.pilot.background" )}}"><i
                  class="fas fa-dice-d20"></i></a>
            {{/if}}
          </small>
        {{/if}}
      </label>
      {{#if isOwner}}
        <input type="checkbox" name="system.backgroundUsed" {{checked system.backgroundUsed}} class="pull-right"
          style="width: auto; margin: 0 0.5rem;" data-tooltip="{{localize "salvage-union.sheets.toggle"}}" />
      {{/if}}
    </td>
    <td class="profileField">
      {{editor
        system.enrichedBackground
        target="system.background"
        button=true
        owner=owner
        editable=editable
      }}
    </td>
  </tr>
  <tr class="description">
    <td>
      <label>
        {{localize "salvage-union.sheets.actor.pilot.motto"}}
        {{#if isOwner}}
          <small>
            {{#if system.motto}}
              <a class="sendFieldToChat" data-field-name="motto"
                data-tooltip="{{localize "salvage-union.chat.send-to-chat"}}"><i class="fas fa-comments"></i></a>
            {{else}}
              <a class="rollProfile" data-field="motto"
                data-tooltip="{{rollField ( localize "salvage-union.sheets.actor.pilot.motto" )}}"><i
                  class="fas fa-dice-d20"></i></a>
            {{/if}}
          </small>
        {{/if}}
      </label>
      {{#if isOwner}}
        <input type="checkbox" name="system.mottoUsed" {{checked system.mottoUsed}} class="pull-right"
          style="width: auto; margin: 0 0.5rem;" data-tooltip="{{localize "salvage-union.sheets.toggle"}}" />
      {{/if}}
    </td>
    <td class="profileField">
      <textarea name="system.motto"
        placeholder="{{localize "salvage-union.sheets.actor.pilot.motto"}}">{{system.motto}}</textarea>
    </td>
  </tr>
  <tr class="description">
    <td>
      <label>
        {{localize "salvage-union.sheets.actor.pilot.keepsake"}}
        {{#if isOwner}}
          <small>
            {{#if system.keepsake}}
              <a class="sendFieldToChat" data-field-name="keepsake"
                data-tooltip="{{localize "salvage-union.chat.send-to-chat"}}"><i class="fas fa-comments"></i></a>
            {{else}}
              <a class="rollProfile" data-field="keepsake"
                data-tooltip="{{rollField (localize "salvage-union.sheets.actor.pilot.keepsake")}}"><i
                  class="fas fa-dice-d20"></i></a>
            {{/if}}
          </small>
        {{/if}}
      </label>
      {{#if isOwner}}
        <input type="checkbox" name="system.keepsakeUsed" {{checked system.keepsakeUsed}} class="pull-right"
          style="width: auto; margin: 0 0.5rem;" data-tooltip="{{localize "salvage-union.sheets.toggle"}}" />
      {{/if}}
    </td>
    <td class="profileField">
      <textarea name="system.keepsake"
        placeholder="{{localize "salvage-union.sheets.actor.pilot.keepsake"}}">{{system.keepsake}}</textarea>
    </td>
  </tr>
  <tr class="description">
    <td><label>{{localize "salvage-union.sheets.actor.appearance"}}</label></td>
    <td>
      {{editor
        system.enrichedAppearance
        target="system.appearance"
        button=true
        owner=owner
        editable=editable
      }}
    </td>
  </tr>
</table>
