<section class="item {{type}}" data-item-id="{{_id}}">
  <h3 class="title {{titleClass}}">
    {{#if inChat}}
      {{name}}
    {{else}}
      <span class="item-context-menu sendToChat" data-item-id="{{_id}}"><a>{{name}}</a></span>
    {{/if}}

    {{#if techLevel}}
      <small class="inverted">{{localize (trPath "salvage-union.salvage" system.techLevel)}}</small>
    {{/if}}
  </h3>

  {{{system.enrichedDescription}}}
</section>
