<div class="salvage-union">
  <p>{{{label}}}</p>

  <form class="margin-bottom" style="{{#unless requireInput}}display: none;{{/unless}}">
    <div class="column">
      <div class="cell row">
        <div class="cell cell-2 right">
          <label>{{localize 'salvage-union.dialog.spendCost.amount'}}:</label>
        </div>
        <div class="cell center">
          <input name="cost" type="number" min="1" max="{{maxSpend}}" value="{{costNumber}}" />
        </div>
        <div class="cell lh15">{{costDenomination}}</div>
      </div>
    </div>
  </form>
</div>
