<form class="salvage-union sheet actor-sheet {{cssClass}}" autocomplete="off">
  <section class="sheet-type {{actor.type}}">
    <span class="type-name all-caps">{{localize (trPath "salvage-union.sheets.type" actor.type)}}</span>
  </section>

  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
    <h1>
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "salvage-union.sheets.name"}}" />
    </h1>
  </header>

  <section class="body column">
    <section class="cell cell-0">
      <h2><span class="inverted">{{localize "salvage-union.sheets.actor.mech.spec"}}</span></h2>
      <table class="stats">
        <tr class="{{#if (lte system.sp.value 0)}}danger{{/if}}">
          <td><label>{{localize "salvage-union.sheets.actor.mech.structure"}}</label></td>
          <td>
            <input type="number" name="system.sp.value" value="{{system.sp.value}}" min="0" max="{{system.sp.max}}" />
          </td>
          <td>
            <input type="number" name="system.sp.max" value="{{system.sp.max}}" disabled />
          </td>
        </tr>
      </table>

      {{> "systems/salvage-union/templates/partials/description-editor.hbs" }}

      {{#if system.chassis}}
        {{> "systems/salvage-union/templates/partials/chassis-card.hbs" item=system.chassis titleClass="inverted"}}
      {{/if}}
    </section>

    <section class="cell equipment">
      {{#if system.systems}}
        {{> "systems/salvage-union/templates/partials/item-list.hbs" items=system.systems npc=true}}
      {{/if}}
      {{#if system.modules}}
        {{> "systems/salvage-union/templates/partials/item-list.hbs" items=system.modules npc=true}}
      {{/if}}
      {{#if system.abilities}}
        {{> "systems/salvage-union/templates/partials/item-list.hbs" items=system.abilities npc=true}}
      {{/if}}

      {{> "systems/salvage-union/templates/partials/salvage.hbs" salvage=system.salvage }}
    </section>
  </section>
</form>
