<form class="salvage-union sheet actor-sheet {{cssClass}}" autocomplete="off">
  <section class="sheet-type {{actor.type}}">
    <span class="type-name all-caps">{{localize (trPath "salvage-union.sheets.type" actor.type)}}</span>
  </section>

  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
    <h1>
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "salvage-union.sheets.name"}}" />
    </h1>
  </header>

  <section class="body column">
    <section class="cell cell-0">
      <h2><span class="inverted">{{localize "salvage-union.sheets.actor.pilot.stats"}}</span></h2>
      <table class="stats">
        <tr class="{{#if (lte system.hp.value 0)}}danger{{/if}}">
          <td>
            <select name="system.healthType" class="bold left">
              {{selectOptions config.npcHealthTypes selected=system.healthType localize=true}}
            </select>
          </td>
          <td>
            <input type="number" name="system.hp.value" value="{{system.hp.value}}" min="0" max="{{system.hp.max}}" />
          </td>
          <td>
            <input type="number" name="system.hp.max" value="{{system.hp.max}}" min="0" max="50" />
          </td>
        </tr>
      </table>

      {{> "systems/salvage-union/templates/partials/traits.hbs" traits=this.system.traits}}

      {{> "systems/salvage-union/templates/partials/description-editor.hbs" }}
    </section>

    <section class="cell equipment">
      {{#if system.equipment}}
        {{> "systems/salvage-union/templates/partials/item-list.hbs" items=system.equipment npc=true}}
      {{/if}}
      {{#if system.abilities}}
        {{> "systems/salvage-union/templates/partials/item-list.hbs" items=system.abilities npc=true}}
      {{/if}}

      {{> "systems/salvage-union/templates/partials/salvage.hbs" salvage=system.salvage }}
    </section>
  </section>
</form>
