<form class="salvage-union sheet actor-sheet {{cssClass}}" autocomplete="off">
  <section class="sheet-type {{actor.type}}">
    <span class="type-name all-caps">{{localize (trPath "salvage-union.sheets.type" actor.type)}}</span>
  </section>

  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
    <h1>
      <input name="name" type="text" value="{{actor.name}}"
        placeholder="{{localize "salvage-union.sheets.actor.pilot.callsign"}}" />
    </h1>
  </header>

  <section class="body row">
    <section class="cell column">
      {{> "systems/salvage-union/templates/partials/pilot-stats.hbs"}}
      {{> "systems/salvage-union/templates/partials/pilot-profile.hbs" isOwner=actor.isOwner}}
    </section>

    <section id="equipment" class="cell cell-2 column">
      <section class="navigation">
        <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item" data-tab="main">{{localize "salvage-union.sheets.actor.pilot.equipment-abilities"}}</a>
          <a class="item{{#if (gt system.inventory.value system.inventory.max)}} danger{{/if}}"
            data-tab="inventory">{{localize "salvage-union.sheets.actor.inventory"}}
            ({{system.inventory.value}}/{{system.inventory.max}})</a>
        </nav>
      </section>

      <section class="tab-content">
        <div class="tab" data-group="primary" data-tab="main">
          <h3><span class="inverted">{{localize "salvage-union.sheets.actor.pilot.equipment"}}</span></h3>
          {{> "systems/salvage-union/templates/partials/item-list.hbs" items=system.equipment}}

          <h3><span class="inverted">{{localize "salvage-union.sheets.actor.pilot.abilities"}}</span></h3>
          {{> "systems/salvage-union/templates/partials/item-list.hbs" items=system.abilities}}
        </div>

        <div class="tab" data-group="primary" data-tab="inventory">
          <h3>
            <span class="inverted">
              {{localize "salvage-union.sheets.actor.pilot.items"}}
            </span>
            <a class="add-salvage inverted" data-tooltip="{{localize "salvage-union.sheets.add-salvage"}}"><i
                class="fas fa-plus"></i></a>
          </h3>
          {{> "systems/salvage-union/templates/partials/inventory.hbs" system.inventory}}
        </div>
      </section>
    </section>
  </section>
</form>
