<form class="salvage-union sheet actor-sheet {{cssClass}}" autocomplete="off">
  <section class="sheet-type {{actor.type}}">
    <span class="type-name all-caps">{{localize (trPath "salvage-union.sheets.type" actor.type)}}</span>
  </section>

  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
    <h1>
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "salvage-union.sheets.name"}}" />
    </h1>
  </header>

  <section class="body column">
    <section class="cell cell-0">
      <h2><span class="inverted">{{localize "salvage-union.sheets.actor.mech.spec"}}</span></h2>
      <table class="stats">
        <tr class="{{#if (lte system.sp.value 0)}}danger{{/if}}">
          <td><label>{{localize "salvage-union.sheets.actor.mech.structure"}}</label></td>
          <td>
            <input type="number" name="system.sp.value" value="{{system.sp.value}}" min="0" max="{{system.sp.max}}" />
          </td>
          <td>
            <input type="number" name="system.sp.max" value="{{system.sp.max}}" min="0" max="50" />
          </td>
        </tr>
        <tr>
          <td><label>{{localize "salvage-union.salvage.tech-level"}}</label></td>
          <td>
            <select name="system.techLevel">
              {{selectOptions config.techLevels selected=system.techLevel localize=true}}
            </select>
          </td>
          <td></td>
        </tr>
        <tr>
          <td><label for="system.salvageValue">{{localize "salvage-union.sheets.items.salvage-value"}}</label></td>
          <td>
            <input type="number" name="system.salvageValue" value="{{system.salvageValue}}" placeholder="0" min="0" />
          </td>
          <td></td>
        </tr>
      </table>

      {{> "systems/salvage-union/templates/partials/traits.hbs" traits=this.system.traits}}

      {{> "systems/salvage-union/templates/partials/description-editor.hbs" }}
    </section>

    <section class="cell equipment">
      {{#if (any system.systems)}}
        <h2><span class="inverted">{{localize "salvage-union.sheets.actor.mech.systems"}}</span></h2>
        {{> "systems/salvage-union/templates/partials/item-list.hbs" items=system.systems npc=true}}
      {{/if}}

      {{#if (any system.modules)}}
        <h2><span class="inverted">{{localize "salvage-union.sheets.actor.mech.modules"}}</span></h2>
        {{> "systems/salvage-union/templates/partials/item-list.hbs" items=system.modules npc=true}}
      {{/if}}

      {{#if (gt system.inventory.value 0)}}
        <h2><span class="inverted">{{localize "salvage-union.common.salvage"}}</span></h2>
        <section class="item-list">
          {{#each system.inventory.items as |salvage|}}
            {{> "systems/salvage-union/templates/partials/crawler-salvage.hbs" salvage}}
          {{/each}}
        </section>
      {{/if}}
    </section>
  </section>
</form>
