<div class="salvage-union">
  <section class="item {{type}}">
    <h2 class="title condensed {{titleClass}}">
      <span class="item-context-menu">{{localize name}}</span>
    </h2>

    <p class="center">
      <span class="inverted all-caps {{#if fail}}danger{{/if}}">
        <strong>{{localize "salvage-union.chat.roll-result-target" target=value roll=roll.total }}</strong>
      </span>
    </p>

    {{{localize (trPath "salvage-union.chat" description) macro=macro}}}
  </section>
</div>
