<div class="salvage-union">
  <section class="item {{type}} {{statusClass system.status}}">
    <h2 class="title {{titleClass}}">
      {{#if (gt system.ap 0)}}
        <span class="item-cost" data-tooltip="{{localize 'salvage-union.sheets.items.cost'}}">
          {{localize "salvage-union.sheets.actor.pilot.ap-cost" cost=system.ap}}
        </span>
      {{/if}}

      {{#if (and (gt system.ep 0) (not (eq type 'chassis')))}}
        <span class="item-cost" data-tooltip="{{localize 'salvage-union.sheets.items.cost'}}">
          {{localize "salvage-union.sheets.actor.mech.ep-cost" cost=system.ep}}
        </span>
      {{/if}}

      <span class="condensed">{{name}}</span>

      {{#if (and system.status (gt system.status activeStatus))}}
        <small class="inverted all-caps status">{{localize (statusLabel system.status)}}</small>
      {{/if}}
    </h2>

    {{{wrapWithP system.description}}}

    <p class="center">
      <span class="inverted all-caps">
        <strong>{{localize "salvage-union.chat.roll-result" roll=roll.total }}</strong>
      </span>
    </p>

    {{{wrapWithP result.text}}}

  </section>
</div>
