// out: false
@import "../config.less";

.salvage-union.sheet.item-sheet {
  .rollable-table-drop-target {
    border: 1px solid @coral;
    background: @peach;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
    flex: none;
  }
}
