// out: false

//
// Fonts
//
@font-face {
  font-family: 'Roboto Black';
  src: url(fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto Regular';
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(fonts/Roboto/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(fonts/Roboto/RobotoCondensed-Bold.ttf);
}

.font-black() {
  font-family: 'Roboto Black';
  font-weight: initial !important;
}

.font-bold() {
  font-family: 'Roboto Bold';
  font-weight: initial !important;
}

.font-condensed() {
  font-family: 'Roboto Condensed';
  font-weight: initial !important;
}

.font-regular() {
  font-family: 'Roboto Regular';
}

.font-mono() {
  font-family: 'Roboto Mono';
}

//
// Colours
//

@bg-color: white;
@text-color: black;
@border-color: #222;
@grey: #b0b0b0;
@smoke: #eee;

@peach: #efc5a8;
@sky: #6bcef3;
@steel: #616870;
@blue: #32506a;
@neon: #30ead7;
@rust: #a64735;
@pink: #d0579a;
@olive: #7a988b;
@coral: #f68a50;
@red: #d5343b;

//
// Dimensions
//
@editor-height: 80px;

@border: 1px solid @border-color;

//
// Misc functions
//
.sheet-header(@hcolor) {
  background: @hcolor;

  .type-name {
    color: @hcolor;
  }
}

.bordered() {
  border: @border;
  border-radius: 0;
}

.border-bottom() {
  border: none;
  border-bottom: 1px solid @border-color;
}

.inverted(@bg: @text-color, @fg: @bg-color) {
  background: @bg;
  color: @fg;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;

  i {
    color: @bg-color;
  }
}

.all-caps() {
  text-transform: uppercase;
}

.item-cost() {
  background-image: url('images/ap-ep-bg.webp');
  background-position: center right;
  background-repeat: no-repeat;
  color: @bg-color;
  padding: 0 0.5rem 0 0.1rem;
  font-weight: bold;
  margin: 0 0.25rem 0 0;

  &:after {
    content: ' ';
  }
}
