// out: false

@import './config.less';

p:empty {
  height: 0;
  margin: 0;
  padding: 0;
  min-height: 0;
}

.window-app {
  overflow: hidden;
  .font-regular();

  #context-menu {
    font-size: 1rem;
    .font-bold();
  }

  label {
    .font-bold();
  }

  .window-header {
    color: @text-color;
    background-color: @sky;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid @grey;
    .font-bold();
  }

  .window-content {
    background: @bg-color;

    header {
      h1 {
        .font-black();
      }
    }
  }
}

.directory .directory-item .document-name {
  .font-regular();
}

.directory .directory-item h3,
.directory .directory-item h4 {
  .font-bold();
}

ol.table-results li:nth-child(even) {
  background-color: @peach;
}

button {
  .font-bold();
}
