@import './config.less';
@import './core-overrides.less';

#logo {
  content: url(images/logo.webp);
  width: 50px;
  margin-left: 37px;
}

#pause {
  img {
    content: url(images/spinner.webp);
  }

  figcaption {
    .font-black();
    text-transform: uppercase;
  }
}

#chat-form textarea {
  .font-regular();
}

.condensed {
  .font-condensed();
}

.salvage-dialog {
  label {
    text-align: right;
    line-height: 1.5rem;
  }

  .lh15 {
    line-height: 1.5rem;
  }

  button.dialog-button.normal.default.bright {
    background: @coral;
  }
}

.salvage-union {
  .font-regular();
  background: @bg-color;

  h1,
  h2,
  h3,
  h4 {
    .font-black();
    border: none;
    margin: 0.5rem 0;
  }

  p {
    margin: 0 0 0.5rem;

    &.margin-v {
      margin: 0.5rem 0;
    }
  }

  .secret {
    background: @peach;
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    padding: 0.25rem 0;
    margin: 0 0 0.5rem;

    p:first-child {
      margin: 0 0 0.5rem;
    }

    p:last-child {
      margin: 0;
    }
  }

  .margin-bottom {
    margin-bottom: 0.5rem;
  }

  ul.table-results {
    list-style: none;
    padding: 0;
  }

  strong,
  label,
  .bold {
    .font-bold();
  }

  a {
    &:hover {
      text-shadow: none;
      color: @steel;
    }

    &.inverted {
      &:hover {
        color: @bg-color;
        background: @steel;
      }
    }
  }

  .margin-x {
    margin: 0 0.25rem;
  }

  .mini {
    font-size: 0.7rem;
  }

  a.content-link {
    background: none;
    padding: 0;
    border: none;
    border-radius: 0;
    .font-condensed();

    &.broken {
      background: @red;
      border: 1px solid @red;
      color: @bg-color;
      padding: 0.5rem 2rem;
      display: inline-block;
      transform: rotate(-1deg);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5),
        inset 1px 1px 3px rgba(255, 255, 255, 0.25);
      .font-condensed();
      position: relative;
      overflow: hidden;

      i {
        display: none;
      }
    }
  }

  li a.content-link {
    font-size: 1rem;
  }

  .inverted {
    .inverted();

    &.core {
      .inverted(@rust);
    }

    &.advanced {
      .inverted(@coral);
    }

    &.legendary {
      .inverted(@pink);
    }
  }

  small {
    font-size: 0.8rem;
  }

  .danger {
    background: @rust;
    color: @bg-color;
    padding: 0 0.2rem;

    input {
      border-color: @bg-color !important;
      color: @bg-color;
    }
  }

  .success {
    background: @pink !important;
    color: @bg-color;
    padding: 0 0.2rem;

    input {
      border-color: @bg-color !important;
      color: @bg-color;
    }
  }

  .all-caps {
    .all-caps();
  }

  .center {
    text-align: center;
  }

  .left {
    text-align: left !important;
  }

  .right {
    text-align: right;
  }

  .pull-right {
    float: right;
  }

  .item {
    margin-bottom: 1.25rem;

    .hidden {
      display: none;
    }
  }

  .item-cost {
    .item-cost();
  }

  .tech-tier {
    .inverted();
    border-radius: 0.25rem;
  }

  .item-slots,
  .salvage-value {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    color: @bg-color;
    display: inline-block;
    width: 1.8rem;
    line-height: 1.8rem;
    font-size: 0.8rem;
    text-align: center;
  }

  .item-slots {
    background-image: url(images/slots.webp);
  }

  .salvage-value {
    background-image: url(images/salvage.webp);
  }

  // Flex
  .row {
    display: flex;
    flex: 0;
    flex-direction: row;
    column-gap: 1rem;
  }

  .column {
    display: flex;
    flex: 1;
    flex-direction: column;

    .cell {
      margin-right: 0;
    }
  }

  .cell {
    flex: 1;

    &.cell-0 {
      flex: 0 !important;
    }

    &.cell-2 {
      flex: 2 !important;
    }

    &.cell-3 {
      flex: 3 !important;
    }

    &.cell-4 {
      flex: 4 !important;
    }
  }

  ol.inventory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    & > li {
      margin: 0 1rem 0.5rem 0;
      padding: 0;
      list-style-position: inside;
      flex: 1;
      min-width: calc(50% - 1rem);
      max-width: calc(50% - 1rem);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &::marker {
        font-weight: bold;
      }
    }
  }

  small a {
    color: @grey;

    &:hover {
      color: @text-color;
    }
  }

  .item {
    .title {
      margin-bottom: 0;
    }

    &.damaged h2 .inverted.status {
      background-color: @coral;
    }

    &.destroyed h2 .inverted.status {
      background-color: @rust;
    }

    &.chassis {
      margin-bottom: 0;
    }
  }

  .inline-chassis {
    margin-bottom: 0.5rem;

    a.content-link {
      font-size: 1rem;
    }

    .stat {
      position: relative;
      .font-bold();

      .value {
        position: relative;
        border: 2px solid @text-color;
        border-bottom: 0;
        font-weight: bold;
        width: 1.75rem;
        height: 1.75rem;
        font-size: 1rem;
        line-height: 1.75rem;
        text-align: center;
        background: @bg-color;
        z-index: 100;
      }

      &:last-child .value {
        border-bottom: 2px solid @text-color;
      }

      .label {
        position: absolute;
        top: 50%;
        left: 1.75rem;
        padding: 0;
        padding-left: 0.25rem;
        transform: translate(0, -50%);
        transform-origin: left bottom;
        background: @text-color;
        color: @bg-color;
        text-transform: uppercase;
        z-index: 10;
        font-size: 1rem;
      }
    }
  }
}

#tooltip {
  .font-bold();
  font-size: 0.8rem;
}

@import './sheet.less';
@import './chat.less';
