// out: false
@import './config.less';

.salvage-union.sheet {
  color: @text-color;
  background: @bg-color;

  margin: -8px;
  padding: 8px;

  .sheet-type {
    flex: none;
    height: 2rem;
    position: relative;
    margin: -8px;
    margin-bottom: 1.5rem;

    .type-name {
      .font-black();
      background: @bg-color;
      position: absolute;
      top: 1rem;
      left: 0.5rem;
      font-size: 2rem;
      padding: 0 0.5rem;
    }

    &.mech,
    &.npc-mech,
    &.system {
      .sheet-header(@olive);
    }

    &.pilot,
    &.npc,
    &.crawler-npc {
      .sheet-header(@coral);
    }

    &.equipment {
      .sheet-header(@steel);
    }

    &.ability,
    &.npc-ability {
      .sheet-header(@sky);
    }

    &.chassis,
    &.union-crawler {
      .sheet-header(@pink);
    }

    &.module,
    &.crawler-bay,
    &.vehicle {
      .sheet-header(@rust);
    }

    &.salvage {
      .sheet-header(@neon);
    }

    &.bio-titan {
      .sheet-header(@blue);
    }
  }

  header.sheet-header {
    flex: none;

    img {
      border: none;
    }
  }

  ul.roll-table-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .description {
    min-height: @editor-height;

    background: @smoke;
    padding: 0.5rem;

    .editor {
      min-height: @editor-height;

      .editor-content {
        min-height: @editor-height;
      }

      .tox.tox-tinymce {
        min-height: @editor-height * 5;
      }
    }
  }

  div.description {
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    margin-bottom: 0.5rem;
  }

  tr.description {
    td:first-child {
      vertical-align: top;
      padding-top: 0.5rem;
    }

    .editor {
      .bordered();
      width: calc(100% - 2px);
      background: rgba(255, 255, 255, 0.25);

      .editor-content {
        padding: 1px 3px;
      }
    }

    textarea {
      .font-regular();
      font-size: 1em;
      resize: vertical;
    }
  }

  input,
  select,
  textarea {
    .bordered();
    background: rgba(255, 255, 255, 0.25);

    &:disabled {
      border-color: transparent;
    }
  }

  table {
    background: @smoke;
    margin: 0.5rem 0;

    tr {
      background: transparent;

      &.danger {
        background: @rust;
      }
    }

    tr td {
      &:first-child {
        width: 115px;
      }

      input,
      select {
        width: calc(100% - 2px);

        &.half-width {
          width: calc(50% - 3px);
        }
      }

      input[type='number'],
      select {
        text-align: center;
      }
    }

    &.stats {
      tr td {
        width: 125px;
      }
    }

    &.values {
      tr td {
        width: 250px;
      }
    }
  }

  .navigation {
    .sheet-tabs.tabs {
      margin: 0.5rem 0;
      border: none;
      justify-content: space-between;

      .item {
        .font-black();
        padding: 2px;
        margin: 0;
        font-size: 1.5rem;

        &.active {
          .inverted();
          text-shadow: none;
        }

        &.danger {
          color: @rust;
          background: @bg-color;

          &.active {
            .inverted(@rust);
          }
        }
      }
    }
  }

  .capacityRoll {
    display: inline-block;
    margin: 0 0.5rem;
  }

  .inventory {
    display: flex;
    flex: 0;
    flex-direction: column;
    position: relative;
    gap: 0.5rem;

    .slot {
      line-height: 1.5rem;
      flex: 0;
      padding: 0 0.25rem;
      border: 1px solid @grey;
      color: @text-color;
      border-radius: 2px;
      background: @smoke;
    }

    .items {
      position: absolute;
      top: 0;
      left: 1.5rem;
      width: calc(100% - 1.5rem);
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 0.5rem;

      .item {
        height: calc(1.5rem + 2px);
        border: 1px solid @text-color;
        border-radius: 0 2px 2px 0;
        background: @grey;
        position: relative;
        margin: 0;

        .data {
          font-weight: bold;
          font-size: 0.8rem;
          margin: 0 0.25rem;

          .salvage-value {
            line-height: 1.4rem;
          }
        }

        .label {
          max-width: 80%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          line-height: 1.4rem;
        }

        .deleteSalvage {
          position: absolute;
          top: 0.25rem;
          right: 0.25rem;
          font-size: 0.8rem;
          display: none;
        }

        &:hover {
          .deleteSalvage {
            display: block;
          }
        }

        &.overflow {
          background: @rust;
          color: @bg-color;

          &:last-child {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  .trait {
    .inverted(@steel);
    border-radius: 0.25rem;

    &:hover {
      .inverted(@rust);
    }
  }

  .add-trait {
    .inverted();
    height: 100%;
    padding: calc(25% - 0.4rem) 1rem;

    &:hover {
      .inverted(@steel);
      height: 100%;
      padding: calc(25% - 0.4rem) 1rem;
    }
  }

  .inline-chassis,
  .inline-npc .stats {
    margin-bottom: 0.5rem;

    a.content-link {
      font-size: 1rem;
    }

    .stat {
      position: relative;
      .font-bold();

      .value {
        position: relative;
        border: 2px solid @text-color;
        border-bottom: 0;
        font-weight: bold;
        width: 1.75rem;
        height: 1.75rem;
        font-size: 1rem;
        line-height: 1.75rem;
        text-align: center;
        background: @bg-color;
        z-index: 100;
      }

      &:last-child .value {
        border-bottom: 2px solid @text-color;
      }

      .label {
        position: absolute;
        top: 50%;
        left: 1.75rem;
        padding: 0;
        padding-left: 0.25rem;
        transform: translate(0, -50%);
        transform-origin: left bottom;
        background: @text-color;
        color: @bg-color;
        text-transform: uppercase;
        z-index: 10;
        font-size: 1rem;
      }
    }
  }
}

.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content {
  .journal-header {
    background: @coral;
    margin: 0;
    padding: 0.5rem 1rem 0.25rem;
    border-bottom: 0.5rem solid @coral;
    box-shadow: inset 0 -3px 0 @bg-color;

    .title {
      .font-black();
      .all-caps();
      color: @bg-color;
      background: transparent;
      text-align: left;
      border: none;
    }
  }

  .journal-entry-page.text {
    padding-top: 0.5rem;
  }

  background: @bg-color;
  color: @text-color;

  h1,
  h2,
  h3,
  h4 {
    .font-bold();
    border: none;
    margin: 0 0 0.5rem;
  }

  h1 {
    .inverted();
    .font-black();
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
    .font-condensed();
  }

  h3 {
    font-size: 1.1rem;
    .font-condensed();
  }

  h4 {
    font-size: 1rem;
    .font-condensed();
  }

  p {
    margin: 0 0 0.5rem;
  }

  strong {
    .font-bold();
  }

  img {
    border: none;
  }

  .center {
    text-align: center;
  }

  .inverted {
    .inverted();
  }

  .item-cost {
    .item-cost();
  }

  .tech-tier {
    .inverted();
    border-radius: 0.25rem;
  }

  .margin-x {
    margin: 0 0.25rem;
  }

  .mini {
    font-size: 0.7rem;
  }

  ul.table-results {
    list-style: none;
    padding: 0;
  }

  .all-caps {
    text-transform: uppercase;
  }

  table.table-results {
    border: none;
    background: transparent;

    tr td {
      padding: 5px 0;

      p {
        margin: 5px 0;
      }
    }

    tr:nth-child(odd) {
      background: @peach;
    }

    tr td:first-child {
      width: 150px;
      text-align: center;
      .font-bold();
      font-size: 1.3rem;
    }
  }

  .item .title {
    margin: 0;
  }

  a.content-link {
    background: none;
    padding: 0;
    border: none;
    border-radius: 0;
    .font-condensed();

    &.broken {
      background: @red;
      border: 1px solid @red;
      color: @bg-color;
      padding: 0.25rem 2rem;
      display: inline-block;
      transform: rotate(-1deg);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5),
        inset 1px 1px 3px rgba(255, 255, 255, 0.25);
      .font-condensed();
      position: relative;
      overflow: hidden;

      i {
        display: none;
      }
    }
  }

  .inline-chassis,
  .inline-npc .stats {
    margin-bottom: 0.5rem;

    a.content-link {
      font-size: 1rem;
    }

    .stat {
      position: relative;
      .font-bold();

      .value {
        position: relative;
        border: 2px solid @text-color;
        border-bottom: 0;
        font-weight: bold;
        width: 1.75rem;
        height: 1.75rem;
        font-size: 1rem;
        line-height: 1.75rem;
        text-align: center;
        background: @bg-color;
        z-index: 100;
      }

      &:last-child .value {
        border-bottom: 2px solid @text-color;
      }

      .label {
        position: absolute;
        top: 50%;
        left: 1.75rem;
        padding: 0;
        padding-left: 0.25rem;
        transform: translate(0, -50%);
        transform-origin: left bottom;
        background: @text-color;
        color: @bg-color;
        text-transform: uppercase;
        z-index: 10;
        font-size: 1rem;
      }
    }
  }
}

.sheet.adventure-importer {
  .font-regular();

  h1,
  h2,
  h3,
  h4 {
    .font-black();
    border: none;
    margin: 0.5rem 0;
  }

  h1,
  h2 {
    .inverted();
  }

  header.adventure-header {
    flex: none;
    height: 2rem;
    width: calc(100% + 2rem);
    position: relative;
    background: @coral;
    margin: -0.5rem -1rem 1.5rem;

    h1 {
      .font-black();
      background: @bg-color;
      color: @coral;
      position: absolute;
      top: 1rem;
      left: 0.5rem;
      font-size: 2rem;
      line-height: normal;
      padding: 0 0.5rem;
      text-transform: uppercase;
    }
  }

  figure.adventure-banner {
    img {
      border-radius: 0;
    }
  }

  .adventure-footer button {
    .inverted();
    border: none;
    border-radius: 0;
    text-transform: uppercase;
  }

  p {
    margin: 0 0 0.5rem;
  }
}

@import './sheets/item.less';
@import './sheets/actor.less';
