@import './config.less';

body {
  .font-regular();
  color: @text-color;
  background: transparent;
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  .font-black();
  border: none;
  margin: 0.5rem 0;
}

p {
  margin: 0 0 0.5rem;
}

strong,
label {
  .font-bold();
}

.condensed {
  .font-condensed();
}

.tech-tier {
  .inverted();
  border-radius: 0.25rem;
}

.margin-x {
  margin: 0 0.25rem;
}

.mini {
  font-size: 0.7rem;
}

.secret {
  background: @peach;
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
  padding: 0.25rem 0;
  margin: 0.25rem 0;

  p:first-child {
    margin: 0 0 0.5rem;
  }

  p:last-child {
    margin: 0;
  }
}
