/*
 * Fonts
 */
@font-face {
  font-family: 'Roboto Black';
  src: url(fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: 'Roboto Bold';
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'Roboto Regular';
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto Mono';
  src: url(fonts/Roboto/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url(fonts/Roboto/RobotoCondensed-Bold.ttf);
}
/*
 * Colours
 */
/*
 * Dimensions
 */
/*
 * Misc functions
 */
body {
  font-family: 'Roboto Regular';
  color: black;
  background: transparent;
  font-size: 14px;
}
h1,
h2,
h3,
h4 {
  font-family: 'Roboto Black';
  font-weight: initial !important;
  border: none;
  margin: 0.5rem 0;
}
p {
  margin: 0 0 0.5rem;
}
strong,
label {
  font-family: 'Roboto Bold';
  font-weight: initial !important;
}
.condensed {
  font-family: 'Roboto Condensed';
  font-weight: initial !important;
}
.tech-tier {
  background: black;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
  border-radius: 0.25rem;
}
.margin-x {
  margin: 0 0.25rem;
}
.mini {
  font-size: 0.7rem;
}
.secret {
  background: #efc5a8;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  padding: 0.25rem 0;
  margin: 0.25rem 0;
}
.secret p:first-child {
  margin: 0 0 0.5rem;
}
.secret p:last-child {
  margin: 0;
}
